

.resource-card {
        margin-right: 15px;
        font-size: 20px;
}

.card-header {
    text-align: center;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #F5F5F5
}

.card-text {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background: 'red'
}

