<<<<<<< HEAD
div {
  background-color: #f5f5f5;
  width: 70%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
}
h5 {
  color: #353535;
  text-decoration-line: underline;
  font-size: 14px;
}
p {
  color: #1e3748;
}
=======
/* .progress {
    display: 'inline-block';
    align-items: 'center';
    justify-content: 'center';
   background-color: #F5F5F5;
   border-style: none;
} */
>>>>>>> 2e0b3216ea6c6f5ab806fef9af8e5362591493de
