

.body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #353535
}

.disclaimer {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.label {
    font-family: 'Nunito', sans-serif;
    background-color: "#197278"
}