.welcome-top {
 height: 250px;
 width: 275px;
 margin-bottom: 40px;
}

.welcome-top2 {
    height: 250px;
    width: 250px;
    margin-bottom: 40px;
   }

   .data-cards {
       margin-right: auto;
       margin-left: auto;
   }

   .welcome-btn {
    text-transform: none;
    background-color: #4D8B93;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin-right: 10px;
   }

   .user-card {
       color: #353535;
       font-family: 'Nunito', sans-serif;

   }

   .welcome-contatiner {
  
   }